.docpage {
    display: flex;
}

.left-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding-top: 1em;
}

.left-nav Button {
    padding-left: 20px;
    font-size: 24px;
    color: #2a2c34;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
}

.left-nav hr {
    width: 100%;
    border: 1px solid #8871d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.newButton {
    background: #8871d9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
