
.centericon {
    display: flex;
    width: 100%;
    height: 100%;
    border: 8px solid #00c2ff;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
@keyframes openingText
{
    0%{
        text-shadow: none;
        color: #2a2c3400;
    }
    100%
    {
        text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        color: #2a2c34;
    }
}
@keyframes box
{
    0%
    {
        border: 5px solid #2a2c3400;
    }
    100%
    {
        border: 5px solid #2a2c34;
    }
}
.lock {
    width: 40%;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

.docubox {
    font-weight: 900;
    font-size: 8em;
    /* identical to box height */
    text-align: center;
    color: #2b2c34;
    user-select: none;
    animation: openingText 4s;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);

}

.box {
    border: 5px solid #2a2c34;
    animation: box 4s;
}

.intro {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    animation: openingText 4s;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}