
.centericon {
    display: flex;
    position: relative;
    width: 87.65vh;
    height: 87.65vh;
    left: 28.1%;
    top: 7.22vh;
    background-color: transparent;
    border: 8px solid #00c2ff;
    box-sizing: border-box;
    border-radius: 50%;
}
@keyframes openingText
{
    0%{
        text-shadow: none;
        color: #2a2c3400;
    }
    100%
    {
        text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        color: #2a2c34;
    }
}
@keyframes box
{
    0%
    {
        border: 5px solid #2a2c3400;
    }
    100%
    {
        border: 5px solid #2a2c34;
    }
}
.upperlock img {
    position: relative;
    width: 400px;
    left: 135px;
    top: 4%;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

.docubox {
    position: relative;
    width: 50px;
    height: 300px;
    left: -360px;
    top: 200px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 144px;
    line-height: 216px;
    /* identical to box height */

    text-align: center;
    color: #2b2c34;
    user-select: none;
    animation: openingText 4s;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);

}

.box {
    position: relative;
    width: 280px;
    height: 120px;
    left: 360px;
    top: -170px;
    border: 5px solid #2a2c34;
    box-sizing: border-box;
    animation: box 4s;
}

.intro {
    position: relative;

    position: relative;
    width: 30vw;
    height: 60px;
    left: 15%;
    top: 48%;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    animation: openingText 4s;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.intro-sol {
    position: relative;

    position: relative;
    width: 30vw;
    height: 60px;
    left: 15%;
    top: 54%;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    animation: openingText 4s;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.lowerlock img {
    position: relative;
    width: 54%;
    left: 39%;
    top: 66%;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.25));
}

.centericon::before {
    width: 66.66vh;
    height: 66.66vh;
}
